@import "tailwindcss";

@theme{
    --text-hsize: 32px;
    --color-primary: #00B207;
    --color-badgeone: #EA4B48;
    --color-badgetwo: #2388FF;
    --color-gry : #F2F2F2;
    --font-pop : "Poppins", sans-serif;
}

 .eliment{
    @apply font-pop text-gray-500 text-[14px] pb-4
 }

 .fheading{
    @apply font-pop text-white font-medium text-[16px] pb-4
 }

 .footerHover{
    @apply hover:text-white transition-colors active:text-white
 }

.mobilemenuLi{
   @apply active:bg-primary active:text-white 
}

.default{
   @apply font-pop text-gray-400 text-[14px] 
}
.dheading{
   @apply font-pop text-[32px] text-gray-900 font-semibold
}
.dfont{
   @apply font-pop text-[14px]
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95) translateY(10px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}

